.download-card {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  position: relative;
  overflow: hidden;
}

.page-name {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 20px;
  /* background-color: rgba(229, 173, 3, 0.165); */
  color: #0febffdd;
  font-weight: lighter;
  font-size: 0.8em;
  font-family: "Courier New", Courier, monospace;
  @media (max-width: 600px) {
    font-size: 0.9em;
  }
}

.logo-container {
  position: absolute;
  right: 0;
  top: 0;
  padding: 20px;
}

.logo-container img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  opacity: 0.8;
}
.logo-container span {
  opacity: 0.8;
  font-size: 0.2em;
  color: #0febffdd;
  font-weight: lighter;
  font-family: "Courier New", Courier, monospace;
  /* for mobile fontsize change */
  @media (max-width: 600px) {
    font-size: 0.9em;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #0febff;
  font-weight: bold;
  font-size: 2em;
  @media (max-width: 600px) {
    font-size: 1.6em;
  }
}

ul {
  color: #ffffff;
  font-size: 1em;
  font-family: "Courier New", Courier, monospace;
  padding-left: 1.5em;
  margin-top: 0.5em;
}
li {
  color: #ffffff;
  font-size: 1em;
  font-family: "Courier New", Courier, monospace;
}
li code {
  color: #efefef;
  font-weight: bold;
  @media (max-width: 600px) {
    background-color: #0c3236;
  }
}

pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em 1.2em;
  border: 1px solid #733366;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.1);
  margin: 20px 10px;
  border-radius: 0.5em;
}
code.hljs {
  padding: 3px 5px;
}
.contribute-container {
  font-size: 0.5em;
  font-family: "Courier New", Courier, monospace;
  color: #8a2a2add;
}
.github-link {
  color: #0c3236;
  @media (max-width: 600px) {
    font-size: 1.6em;
  }
}
.github-link:hover {
  text-decoration: underline;
}
