.download-card {
  color: rgb(0, 0, 0) !important;
  background-color: rgb(255, 255, 255) !important;
  min-height: 200px;
}

:root {
  --text-primary: #0d0d0d;
}

.chatgpt-toolbar {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #e0e0e0;
  box-shadow:
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.04) 0px 4px 4px 0px,
    rgba(0, 0, 0, 0.62) 0px 0px 1px 0px;
}

.chatgpt-bottom-toolbar-container {
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  height: 48px;
}
.chatgpt-bottom-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.chatgpt-bottom-toolbar-left,
.chatgpt-bottom-toolbar-right {
  font-family:
    ui-sans-serif,
    -apple-system,
    system-ui,
    "Segoe UI",
    Helvetica,
    "Apple Color Emoji",
    Arial,
    sans-serif,
    "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-feature-settings: normal;
  font-kerning: auto;
  font-size: 14px;
  font-size-adjust: none;
  font-stretch: 100%;
  font-weight: 400;
  color: rgb(13, 13, 13);
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.chatgpt-upload-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  color: #ffffff;
  background-color: #000000;
  cursor: pointer;
}
.chatgpt-text-root-container {
  padding-left: 20px;
  padding-right: 20px;
  min-height: 56px;
}

.chatgpt-text-container {
  font-family:
    ui-sans-serif,
    -apple-system,
    system-ui,
    "Segoe UI",
    Helvetica,
    "Apple Color Emoji",
    Arial,
    sans-serif,
    "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  font-variation-settings: normal;
  box-sizing: border-box;
  margin: 0;
  padding-top: 16px;
  padding-bottom: 16px;
  word-wrap: break-word;
  font-feature-settings: "liga" 0;
  font-variant-ligatures: none;
  transform: translateY(-0.5px);
  white-space: break-spaces;
  outline-style: none;
  outline-width: 0;
}

.chatgpt-text {
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-primary);
  white-space: pre-wrap;
}

.chatgpt-header {
  font-size: 18px;
  border: 0 solid;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 400;
  color: var(--text-primary);
  margin-bottom: 12px;
  text-align: center;
  font-family:
    ui-sans-serif,
    -apple-system,
    system-ui,
    "Segoe UI",
    Helvetica,
    "Apple Color Emoji",
    Arial,
    sans-serif,
    "Segoe UI Emoji",
    "Segoe UI Symbol";
  color: rgb(13, 13, 13);
  line-height: 28.0001px;
}

.chatgpt-header-title {
  font-size: 24px;
  color: var(--text-primary);
  -webkit-font-smoothing: antialiased;
  font-weight: 900;
  color: var(--text-primary);
  max-width: 80%;
  margin: 0 auto;
  line-height: 1.2;
  margin-bottom: 15px;
  text-align: center;
  font-family:
    ui-sans-serif,
    -apple-system,
    system-ui,
    "Segoe UI",
    Helvetica,
    "Apple Color Emoji",
    Arial,
    sans-serif,
    "Segoe UI Emoji",
    "Segoe UI Symbol";
}
